*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #FAF4EC;
}

form {
    width:30%;
    background-color: #EBDBC8;
    padding: 50px;
    border-radius: 20px;
    margin-top: 150px;
}

.btn-primary {
    width: 100%;
    border: none;
    border-radius: 50px;
    background: #AB8072;
}

.btn-primary:hover, .btn-primary:active {
    width: 100%;
    border: none;
    border-radius: 50px;
    background: #946d5f;
}


.form-control {
    color: rgba(0,0,0,.87);
    border-bottom-color:rgba(0,0,0,.42);
    box-shadow:none !important;
    border:none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
    background-color:#EBDBC8; 
}

/* style.css */
.custom-navbar {
    background-color: #EBDBC8;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link,
.custom-navbar .navbar-text {
    color: #AB8072;
}

.custom-navbar .nav-link:hover {
    color: #946d5f; /* Change this to your desired hover color */
}

